<div>
    I am a research assistant at the <a href="https://noble.gs.washington.edu/" target="_blank">Noble Research Lab</a>. 
    I work with <a href="https://noble.gs.washington.edu/~wnoble/" target="_blank">William Stafford Noble</a> 
    and <a href="https://younglululu.github.io/" target="_blank">Yang Lu</a> on developing high-precision 
    machine learning methods for predicting remote protein homologies and discovering biological feature interactions.<br/>
    
    My research interests are:<br/>
    <li>Developing reliable ML methods for high-precision biomedical applications.<br/>
    <li>Error-controlled biological hypothesis generation with ML model interpretation.<br/>

    I'm currently looking for PhD opportunities starting Fall 2023. Feel free to reach out if you are interested in learning more about me!
</div>