<div>
    I am a PhD candidate in the <a href="https://cse.engin.umich.edu/" target="_blank"> Computer Science & Engineering at the University of Michigan</a>, advised by 
    <a href="https://wiens-group.engin.umich.edu/" target="_blank">Prof.&nbsp; Jenna Wiens</a>. 
    I am interested in enabling reliable and interpretable AI-driven decision-making in healthcare, leveraging tools from causal
    inference, reinforcement learning, and explainable AI. 
</div>
<br/>
<div>
    Previously, I received my B.S. in <a href="https://www.ece.uw.edu/" target="_blank">Electrical Engineeirng at the University of Washington</a>, during which I worked with <a href="https://noble.gs.washington.edu/~wnoble/" target="_blank">Prof. William Stafford Noble</a> 
    and <a href="https://engineering.wisc.edu/directory/profile/yang-lu/" target="_blank">Prof. Yang Lu</a> on biological interaction discovery with explainable AI</a>.<br/>
</div>