<div>
    I am a PhD student in the Computer Science & Engineering at the University of Michigan, advised by 
    <a href="https://wiens-group.engin.umich.edu/" target="_blank">Prof. Jenna Wiens</a>. 
    I am interested in enabling reliable and interpretable AI-driven decision-making in healthcare, leveraging causal
    inference and explainable AI. Previously, I worked with <a href="https://noble.gs.washington.edu/~wnoble/" target="_blank">Prof. William Stafford Noble</a> 
    and <a href="https://cs.uwaterloo.ca/about/people/yanglu" target="_blank">Prof. Yang Lu</a> on biological interaction discovery with explainable AI at UW</a>.<br/>
</div>