---
layout: default
---

<body class="page {{ page.color_theme }}">
  Updated on {% last_modified_at %}<br/><br/>

  <a href="{{ site.baseurl }}/{{ site.cv_path }}" target="_blank" style="font-size: 25px"><u>CV (pdf)</u></a>

  <h2>About</h2>
  {% include about.html %}
  <hr />
  <header class="section-header">
      <h2>Education</h2>
  </header>
  {% for education in site.data.education %}
    <h3><a href="{{ education.link }}">{{ education.school }}</a></h3>
    <ul>
      <li>{{ education.degree }}</li>
      <li>{{ education.start }} - {{ education.end }}</li>
      <li>GPA: {{ education.gpa }}</li>
    </ul>
  {% endfor %}
  <hr />

  <h2>Research Experience</h2>
  {% for research in site.data.research %}
    <h3><a href="{{ research.link }}">{{ research.lab }}</a>, {{ research.institution }}</h3>
    {% for project in research.projects %}
      <h4>{{ project.title }}</h4>
      <ul>
        {% for desc in project.descriptions %}
          <li>{{ desc.content }}</li>
        {% endfor %}
      </ul>
    {% endfor %}
  {% endfor %}
  <hr />

  <h2>Honors and Awards</h2>
  <ul>
    {% for scholarship in site.data.scholarship %}
      <li><p><a href="{{ scholarship.link }}" target="_blank"><b>{{ scholarship.name }}</b></a>, 
        {{ scholarship.institution }} ({{ scholarship.year }}) </p></li>
      <ul>
        <li> {{ scholarship.description }} </li>
      </ul>
    {% endfor %}
  </ul>
  <hr/>

  <h2>Teaching Experience</h2>
  {% for teaching in site.data.teaching %}
  <ul>
    <li><p><b>{{ teaching.title }}</b>, {{ teaching.institution }}</p></li>
    <ul>
      {% for desc in teaching.descriptions %}
        <li>{{ desc.content }}</li>
      {% endfor %}
    </ul>
  </ul>
  {% endfor %}
  <hr />

  <h2>Industry Experience</h2>
  {% for industry in site.data.industry %}
  <ul>
    <li><p><b>{{ industry.title }}</b>, <a href="{{ industry.link }} " target="_blank">
      {{ industry.company }}</a></p></li>
    <ul>
      {% for desc in industry.descriptions %}
        <li>{{ desc.content }}</li>
      {% endfor %}
    </ul>
  </ul>
  {% endfor %}
  <hr />

  <h2>Leadership Experience</h2>
  {% for leadership in site.data.leadership %}
  <ul>
    <li><p><b>{{ leadership.title }}</b>, <a href="{{ leadership.link }} " target="_blank">
      {{ leadership.organization }}</a></p></li>
    <ul>
      {% for desc in leadership.descriptions %}
        <li>{{ desc.content }}</li>
      {% endfor %}
    </ul>
  </ul>
  {% endfor %}
  <hr />

  <h2>Technical Skills</h2>
  <ul>
    {% for skill in site.data.technical %}
    <li>{{ skill.type }}</li>
      <ul>
        <li>
          {% for example in skill.examples %}
            {% if forloop.index == 1 %}
              {{ example.item }}
            {% else %}
              , {{ example.item }}
            {% endif %}
          {% endfor %}
        </li>
      </ul>
    {% endfor %}
  </ul>


</body>