---
layout: default
---

<body class="page {{ page.color_theme }}">
  <!-- Updated on {% last_modified_at %}<br/><br/> -->

  <h2>About</h2>
  {% include about.html %}
  
  <hr />
  <header class="section-header">
      <h2>Education</h2>
  </header>
  {% for education in site.data.education %}
    <h3><a href="{{ education.link }}" target="_blank">{{ education.school }}</a></h3>
    <ul>
      <li>{{ education.degree }}</li>
      <li>{{ education.start }} - {{ education.end }}</li>
      <!-- {% if education.gpa != nil %} <li>GPA: {{ education.gpa }}</li>{% endif %} -->
    </ul>
  {% endfor %}
  <hr />

  <header class="section-header">
      <h2>Publications</h2>
  </header>
  <ul>
  {% for publication in site.data.publication %}
        <li>
          <b>{{ publication.title }}</b> <br/> 
          <ul>
            <li>{{ publication.authors }}</li>
            <li><i>{{ publication.publisher }}</i>
            {% if publication.paper != nil %} <a href="{{ publication.paper }}" target="_blank">[Paper]</a> {% endif %}
            {% if publication.poster != nil %} <a href="{{ publication.poster }}" target="_blank">[Poster]</a> {% endif %}</li>
          </ul>
        </li>
  {% endfor %}
  </ul>
  <hr />

  <h2>Services</h2>
  <ul>
  {% for service in site.data.services %}
      <li>
        <b>{{ service.role }}</b>, <a href="{{ service.link }}" target="_blank">{{ service.organization }}</a>, ({{ service.year }}) <br/>
      </li>
      {% endfor %}
    </ul>
  <hr/>

  <!-- <h2>Research Experience</h2>
  {% for research in site.data.research %}
    <h3><a href="{{ research.link }}" target="_blank">{{ research.lab }}</a>, {{ research.institution }}</h3>
    {% for project in research.projects %}
      <h4>{{ project.title }}</h4>
      <ul>
        {% for desc in project.descriptions %}
          <li>{{ desc.content }}</li>
        {% endfor %}
      </ul>
    {% endfor %}
  {% endfor %}
  <hr /> -->

  <h2>Honors and Awards</h2>
  <ul>
  {% for scholarship in site.data.scholarship %}
      <li>
        <a href="{{ scholarship.link }}" target="_blank"><b>{{ scholarship.name }}</b></a>, {{ scholarship.institution }} ({{ scholarship.year }}) <br/>
        <!-- {{ scholarship.description }} -->
        <ul>
          <li> {{ scholarship.description }} </li>
        </ul>
      </li>
      {% endfor %}
    </ul>
  <hr/>

  <h2>Teaching Experience</h2>
  <ul>
  {% for teaching in site.data.teaching %}
    <li><b>{{ teaching.title }}</b>, {{ teaching.institution }}</li>
    <ul>
      {% for desc in teaching.descriptions %}
        <li>{{ desc.content }}</li>
      {% endfor %}
    </ul>
  
    {% endfor %}
  </ul>
  <hr />

  <h2>Industry Experience</h2>
  <ul>
  {% for industry in site.data.industry %}
    <li><b>{{ industry.title }}</b>, <a href="{{ industry.link }} " target="_blank">
      {{ industry.company }}</a></li>
    <ul>
      {% for desc in industry.descriptions %}
        <li>{{ desc.content }}</li>
      {% endfor %}
    </ul>

    {% endfor %}
  </ul>
  <hr />

  <h2>Leadership Experience</h2>
  <ul>
  {% for leadership in site.data.leadership %}
    <li><b>{{ leadership.title }}</b>, <a href="{{ leadership.link }} " target="_blank">
      {{ leadership.organization }}</a></li>
    <ul>
      {% for desc in leadership.descriptions %}
        <li>{{ desc.content }}</li>
      {% endfor %}
    </ul>
    {% endfor %}
  </ul>
  <hr />

  <h2>Technical Skills</h2>
  <ul>
    {% for skill in site.data.technical %}
    <li>{{ skill.type }}:
          {% for example in skill.examples %}
            {% if forloop.index == 1 %}
              {{ example.item }}
            {% else %}
              , {{ example.item }}
            {% endif %}
          {% endfor %}
      </li>
    {% endfor %}
  </ul>
  <hr />

  <h2>Projects</h2>
  <ul>
  {% for project in site.data.project %}
    <li><a href="{{ project.link }} " target="_blank"><b>{{ project.title }}</b></a>, 
      &nbsp;{{ project.time }}</li>
    <ul>
      {% for desc in project.descriptions %}
        <li>{{ desc.content }}</li>
      {% endfor %}
    </ul>
    {% endfor %}
  </ul>
  <hr />

  <!-- <h2>Posters & Presentations</h2>
  {% for presentation in site.data.presentation %}
    <h3>{{ presentation.venue }}</h3>
    {% if presentation.link == nil %}
      <h4>{{ presentation.title }}, &nbsp;{{ presentation.time }}</h4>
    {% else %}
      <h4><a href="{{ presentation.link }}" target="_blank">{{ presentation.title }}</a>,
        &nbsp;{{ presentation.time }}</h4>
    {% endif %}
    <ul>
      {% for desc in presentation.descriptions %}
        <li>{{ desc.content }}</li>
      {% endfor %}
    </ul>
  {% endfor %}
  <hr /> -->

</body>