---
layout: default
---

<body class="page {{ page.color_theme }}">
  <header class="section-header">
    <h2>About</h2>
    {% include about.html %}
  </header>
  <hr />
  <header class="section-header">
      <h2>Education</h2>
  </header>
  <hr />
  <header class="section-header">
      <h2>Research Experience</h2>
  </header>
  <hr />
  <header class="section-header">
      <h2>Teaching Experience</h2>
  </header>
  <hr />
  <header class="section-header">
      <h2>Industry Experience</h2>
  </header>
</body>

<!-- {{ content }} -->